#searchBarIcon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchBar {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#addForm {
    overflow: scroll;
}
#editForm{
    overflow: scroll;
}

.media img {
    width: 150px;
    height: 150px;
}

.mediaBtn {
    /* background-color: #fff; */
}

.mediaContainer {
    width: 100%;
}

.fullwidth {
    width: 100%;
}
.card img{
    width : 250px;
    height: 200px;
}

.card-body{
    height: 180px;
}

.card-body a{
    width : 100px;
}
.card:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}

.breadcrumb-item{
    cursor : pointer;
}
.active{
    cursor : context-menu;
}