.inline-icon {
    vertical-align: central;
    /*font-size: 35px;*/
}

.jy-indicator {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgb(252, 102, 16);
    z-index: 1;
}

.form {
    border: 10px solid #f8f9fa;
    padding: 2%;
    padding-top: 2%;
    background-color: white;
    opacity: 0.95;
    display: none;
    margin: 3%;
}

.smoke {
    position: absolute;
    background-color: rgba(155, 155, 155, 0.4);
    width: 100vw;
    height: 100vh;
}

.bgImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
}


.bottomArea{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
    color: white;
}

ul.top-right-info {
  margin: 0;
  padding: 0;
}

.top-right-info li p {
  margin-right: 6px;
  font-size: 16px;
}

.top-right-info li {
  display: inline-block;
}
.copy-right {
    background: #1c1d21;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(28, 29, 33);
}
.copy-right p {
    margin: 0;
    padding: 0;
    line-height: 25px;
    color: #999;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

footer {
  background-color: #17181b;
}
.footer-text p, .footer-text p a {
  color: #727377;
  font-size: 17px;
}


.card-label {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    padding: 3px;
    z-index: 5;
    color: #fff;
}

ul.food, ul.food-price {
  margin: 0;
  padding: 0;
  color: #727377;
}
ul.food li, ul.food-price li {
  font-size: 1rem;
  list-style: none;
  display: inline-block;
}
/* ul.food-price li {
  font-size: 1rem;
  list-style: none;
} */

ul.food li::after {
  content: ",";
}

ul.food li strong, ul.food-price li strong {
  color: black;
}

a.card {
  color: inherit;
  text-decoration: none;
}

img.card-img-top {
  transition: all .5s ease-in-out;
}

div.card-img {
  overflow: hidden;
}

a.card:hover img.card-img-top {
  transform: scale(1.1);
}


/*toggle*/

.toggle {
    display: flex;
    position: absolute;
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
}

.toggle > #keyWord, .toggle > #chkBox {
  display: none;
}

.toggle input + label {
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    border: solid 1px #ddd;
    background-color: #fff;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}
.toggle input + label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}
.toggle input + label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}
.toggle input:hover + label {
    border-color: #213140;
}
.toggle input:checked + label {
    background-color: #4b9dea;
    color: #fff;
    animation-name: checked;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border-color: #4b9dea;
    z-index: 1;
}
.toggle input:not(:checked) + label {
    animation-name: unchecked;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/*total 21*/
@keyframes checked {
    from {
        width: 5rem;
    }
    to {
        width: 16rem;
    }
}
@keyframes unchecked {
    from {
        width: 16rem;
    }
    to {
        width: 5rem;
    }
}

/*toggle end*/

.fit-image{
  width: 100%;
  object-fit: cover;
}

/* tab bar */
.jy-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jy-tabs label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  flex-grow: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.jy-tabs .jy-tab {
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

.jy-tabs input[type=radio] {
  /* display: ; */
}

.jy-tabs input[type="radio"]:checked + label {
  background: #fff;
}

.jy-tabs input[type="radio"]:checked + label + .jy-tab {
  display: block;
}

@media (max-width: 45em) {
  .jy-tabs .jy-tab,
  .jy-tabs label {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .jy-tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}